*{
    background-image: url(../_imagens/Dragon-Ball-Goku-Free-PNG-HQ-Image.png);
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-color: rgb(133, 36, 182);
    background-size: 30%;
}
h1{
    color: rgb(211, 177, 28);
    text-align: center;
    border-style: dotted;
    font-family: monospace,sans-serif;
    border-radius: 10px;
}
input{
    background-color: white;
}
input[type=text],
input[type=number]{
    padding: 6px 8px;
    width: 1200px;
    border-radius: 10px;
    font-size: 20px;
}
input[type=text]:focus,
input[type=number]:focus{
    background-color: lightpink;
}
fieldset{
    border-color: yellow;
}
#nome{
 height: 20px;
    width: 60%;
    border-radius: 5px;
}
#idade{
 height: 20px;
    width: 60%;
    border-radius: 5px;
}
#telefone{
 height: 20px;
    width: 60%;
    border-radius: 5px;
}
#endereco{
 height: 20px;
    width: 60%;
    border-radius: 5px;
}
form{
    color: white;
}
#planeta{
    color: black;
    background-color: white;
}
#raças{
    color: black;
    background-color: white;
}
#area{
    background-color: white;
}
#area{
    height: 100px;
    width: 70%;
}
.botao{
    background-color: blueviolet;
    color:white;
    height: 60px;
    width: 150px;
    border-radius: 10%;
}
#jsonn{
    background-color: blueviolet;
    color:white;
    height: 60px;
    width: 150px;
    border-radius: 10%;
}
